<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sundy.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="com.sundy.pojo.User">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="username" property="username" jdbcType="VARCHAR"/>
        <result column="birthday" property="birthday" jdbcType="TIMESTAMP"/>
        <result column="sex" property="sex" jdbcType="SMALLINT"/>
        <result column="address" property="address" jdbcType="VARCHAR"/>
        <result column="detail" property="detail" jdbcType="VARCHAR"/>
        <result column="score" property="score" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
    id, username, birthday, sex, address, detail, score
  </sql>

    <select id="selectUserById" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from user
        where id = #{id,jdbcType=INTEGER}
    </select>

    <select id="selecttypeAlias" resultType="user" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from user
        where id = #{id,jdbcType=INTEGER}
    </select>


    <select id="findUserList" resultMap="BaseResultMap" parameterType="java.lang.String">
        SELECT
        <include refid="Base_Column_List"/>
        FROM USER WHERE username LIKE '%${value}%'/* 这里是value 不是username*/
    </select>

    <select id="findUserList2" resultMap="BaseResultMap" parameterType="java.lang.String">
        SELECT
        <include refid="Base_Column_List"/>
        FROM USER WHERE username LIKE #{username,jdbcType=VARCHAR}
    </select>

    <select id="selectUserByHashmap" parameterType="hashmap" resultType="user">
    select * from user where id=#{id} and username like '%${username}%'
   </select>

    <!--获取用户列表总数 -->
    <select id="selectUserCount" resultType="int">
      select count(1) from user
    </select>

    <select id="selectmapById" resultType="hashmap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from user
        where id = #{id,jdbcType=INTEGER}
    </select>


    <select id="selectUserByUser" parameterType="user" resultType="user">
        select * from user
        where 1=1
        <if test="id!=null">
            and id=#{id}
        </if>
        <if test="username!=null and username!=''">
            and username = #{username,jdbcType=VARCHAR}
        </if>
    </select>

    <select id="selectUserByUser2" parameterType="user" resultType="user">
        select * from user
        <where>
            <if test="id!=null">
                and id=#{id}
            </if>
            <if test="username!=null and username!=''">
                and username = #{username,jdbcType=VARCHAR}
            </if>
        </where>

    </select>

    <select id="selectUserByList" parameterType="java.util.List" resultType="user">
        select * from user
        <where>
            <!--传递List，List中是pojo -->
            <if test="list!=null">
                <foreach collection="list" item="item" open="and id in(" separator="," close=")">
                    #{item.id}
                </foreach>
            </if>
        </where>
    </select>


</mapper>